!!!5
%html
  %head
    %title= "Log Entries"
    %link{ :rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.min.css"}
    %script{:type => "text/javascript", :src => "javascript/jquery.min.js"}
    %script{:type => "text/javascript", :src => "javascript/notify.min.js"}
  %body
    %table.table
      %thead
        %tr
          %th Transaction Number
          %th Tag
          %th Description
      - @transactions.each do |transaction|
        %tr
          %td= transaction[:transaction_number]
          %td= transaction[:tag]
          %td= transaction[:details]
  :javascript
    $(document).ready( function(){
      alert("foo");
    });
